h1, h5, h6, h3 {
    font-family: 'Jura', sans-serif;
}

.error-image {
    background: url(error-page.png) no-repeat;
    background-size: cover;
}

.btn-position {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 55%;
    left: 50%;
}

/*a, a:hover {*/
    /*color: #FF1DA2;*/
/*}*/
.btn-border{
    border: none;
    font-size: 16px;
    font-family: 'Jura', sans-serif;
}
/*.btn-fon{*/
    /*color: #002a80;*/
    /*font-size: 16px;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/

/*.btn-link:hover{*/
    /*color: #FF1DA2;*/
/*}*/

.navbar {
    margin-bottom: 8px;
}

li:hover {
    background-color: transparent;
}

.navbar .nav > li > a {
    text-shadow: 0 0 0 black;
    font-size: 16px;
}

/*.navbar .nav > li > a:hover {*/
    /*color: #FF1DA2;*/
/*}*/

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: transparent;
    /*color: #FF1DA2;*/
    text-shadow: 0 0 0 black; /*  border-bottom:4px solid #FF1DA2; */
}

.navbar .divider-vertical {
    width: 0px;
    height: 23px;
    margin: 9px;
}

hr.soften {
    margin: 8px 0 18px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: none;
    color: #FF1DA2;
}

.dropdown-menu li > a:hover {
    color: #FF1DA2;
    background: none
}

.carousel {
    background: url(shadowsReverse.png) no-repeat center bottom;
    padding-bottom: 31px;
}

.carousel-control, .carousel-control:hover {
    background: transparent;
    color: #ff1da2
}

.carousel-caption {
    padding: 0;
    background: #efefef;
    color: #444;
    bottom: auto;
    top: 8%;
    width: 30%;
    right: 10%;
    left: auto;
    border-radius: 8px;
}

.carousel-control {
    top: 48%;
}

.carousel-caption h4, .carousel-caption p {
    color: #000;
    width: 80%;
    background: #efefef;
    padding: 14px 8px 0;
    margin: 0 0 0 10%
}

.carousel-caption p {
    padding-bottom: 14px;
    padding-top: 8px
}

.navbar .nav > li > a {
    padding: 8px 0;
    margin: 0 8px
}

.alert h4 {
    padding-bottom: 8px;
}

.impInfo {
    line-height: 1.5em;
}

.msg {
    text-align: center;
    font-size: 12px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
}

.alert {
    border-radius: 0
}

.footer {
    padding: 18px;
    margin: 0;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

.detailView {
    padding: 18px
}

/*.modal .close {*/
    /*background: url(css/images/quit.png) no-repeat 0 0;*/
    /*height: 24px;*/
    /*width: 24px;*/
    /*text-indent: -99999px;*/
    /*margin: 8px;*/
/*}*/

.carousel .item {
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}

.carousel .next {
    left: 0;
    opacity: 1;
    z-index: 1;
}

.navbar-inner {
    padding-left: 0;
    padding-right: 0;
}

.loadhome {
    cursor: pointer
}

.btnB {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnB-default {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    border: none;
}

.btnB-default:hover{
    color: #0044cc;
}

#authorization-body {
    width: 100%;
    height: 485px;
    top: 20%;
    left: 10%;
}
#admin-page-body {
    width: 100%;
    height: 720px;
    top: 20%;
    left: 10%;
}
#admin-page-body_caseHistory {
    width: 100%;
    height: 920px;
    top: 20%;
    left: 10%;
}
#registration-body{
    width: 100%;
    height: 700px;
    top: 20%;
}
#authorization-error{
    height: 30px;
    width: 20%;
    position: absolute;
    top: 59%;
    left: 64%;
    color: #ff0000;
    display: block;
    text-align: left;
}
#authorization-form{
     height: 130px;
     width: 30%;
     position: absolute;
     top: 24%;
     left: 33%;
     display: block;
     text-align: center;
 }
#registration-form{
    height: 130px;
    width: 70%;
    position: absolute;
    top: 12%;
    left: 15%;
    display: block;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
        line-height: 34px
    }

    .input-group-sm input[type=date], .input-group-sm input[type=time], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month], input[type=date].input-sm, input[type=time].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm {
        line-height: 30px
    }

    .input-group-lg input[type=date], .input-group-lg input[type=time], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month], input[type=date].input-lg, input[type=time].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg {
        line-height: 46px
    }
}

.btnB-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}
.btnB-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}

.btnB-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}
.btnB-block {
    display: block;
    width: 100%
}
.btnB-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}
.error{
    color: #ff0000;
}
.success{
    color: #408140;
}
#hospital-registration{
    width: 70%;
    position: absolute;
    top: 6%;
    left: 9%;
    background-color: #FFFFFF;
    display: block;
}
#admin-nav-content{
    height: 200px;
    width: 70%;
    position: absolute;
    top: 23%;
    left: 15%;
    background-color: #FFFFFF;
    border-top: 1px solid #ddd;
    display: block;
}
#admin-ehl-content{
    height: 200px;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
    /*background-color: #FFFFFF;*/
    display: block;
}
.formB-horizontal .checkbox, .formB-horizontal .checkbox-inline, .formB-horizontal .radio, .formB-horizontal .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0
}

.formB-horizontal .checkbox, .formB-horizontal .radio {
    min-height: 27px
}

.form-group {
    margin-bottom: 15px
}

.formB-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .formB-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right
    }
}

.formB-horizontal .has-feedback .form-control-feedback {
    right: 15px
}

.formB-horizontal .form-group:after, .formB-horizontal .form-group:before {
    display: table;
    content: " "
}

.formB-horizontal .form-group:after {
    clear: both
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left
}
.col-xs-9 {
    width: 55%
}
.col-xs-3 {
    width: 25%
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 15px
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px
    }
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " "
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 15px
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px
    }
}
.active-button{
    color: #0088cc;
    border-radius: 0;
}

.menu-btn{
    background-color: transparent;
}
#scroll-table {
    height: 300px;
    overflow: scroll;
}
#scroll-table-ch {
    height: 230px;
    overflow: scroll;
}
