#body{
    height: 100%;
    width: 100%;
    background-color: #e2e6e9;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#hospital-header{
    height: 7%;
    width: 80%;
    position: relative;
    top: 0%;
    left: 10%;
    padding-left: 50%;
    background-color: #FFFFFF;
}
#hospital-body{
    height: 680px;
    width: 80%;
    position: relative;
    top: 0%;
    left: 10%;
    background-color: #FFFFFF;
    display: block;
    text-align: center;
}
#hospital-content{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
    border: 1px dashed red;
    background-color: #FFFFFF;
    display: block;
}

#hospital-nav{
    height: 80px;
    width: 100%;
    position: absolute;
    top: 12%;
    left: 0%;
    display: block;
}
.nav-bar-text{
    color: #525252;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding: 6px 17px 4px;
    text-transform: uppercase;
}
#sign-in-form{
    height: 130px;
    width: 30%;
    position: absolute;
    top: 24%;
    left: 33%;
    display: block;
    text-align: center;
}
#hospital-registration{
    height: 200px;
    width: 70%;
    position: absolute;
    top: 6%;
    left: 9%;
    background-color: #FFFFFF;
    display: block;
}
.registration-head{
    margin-top: 0px;
    margin-bottom: 6px;
}
#hospital-setting{
    height: 200px;
    width: 25%;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: #FFFFFF;
    display: block;
    text-align: left;
}
#h-hospital-setting{
    height: 30px;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #FFFFFF;
    display: block;
    text-align: center;
}
